<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'reset.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">

    <title>Document</title>
</head>
<body>
    <main> 
        <h1>Project Management</h1>
        <div class="container">
            <div class="project_form">
                <h2>Create a new project</h2>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ project_form.title }}
                    {{ project_form.description }}
                    <label>Start Date</label>
                    {{ project_form.start_date }}
                    <label>End Date</label>
                    {{ project_form.end_date }}
                    {{ project_form.photo }}
                    <button type="submit">Save</button>
                </form>
            </div>
            <div class="projects">
                <h2>Projects</h2>
                    <div class="projects_list">
                    {% for project in projects_list %}
                        <a class="project" href="{% url 'project_detail' project.id %}">
                            <img class="photo" src="{{project.photo.url }}" alt="{{ project.title }}" width="100">
                            <h2>{{ project.title }}</h2>
                            <p><span>Description:</span>{{ project.description }}</p>
                            <p><span>Start Date:</span> {{ project.start_date }}</p>
                            <p><span>End Date:</span> {{ project.end_date }}</p>
                        </a>
                    {% endfor %}
                    </div>
            </div>
        </div>
    </main>
</body>
</html>